 h1, h2, h3, h4, h5, h6{ text-align: center; font-family: sans-serif; color: white; background-color: darkblue; display: inline-block; }
body { font-family: serif; color: darkblue; background-color: lightblue; }
nav {background-color: white; color: red; display: inline; }
